{{define "ranger"}}
<!-- <details> -->
<!-- <summary>Выбор полей</summary> -->
    <form method="get" action="/view/{{.NumUch}}">
    <div>
        <input type="checkbox"    checked >
        <label for="scales">ФИО</label>
    </div>
    <div>
        <input type="checkbox"  name="birthday" {{ if .Birthday}} checked {{end}} >
        <label for="scales">Дата рождения</label>
    </div>
        <div>
            <input type="checkbox"  name="enp" {{ if .Enp}} checked {{end}}>
            <label for="scales">ЕНП</label>
        </div>
        <div>
            <input type="checkbox"  name="adress"  {{ if .Adress}} checked {{end}} >
            <label for="scales">Адрес</label>
        </div>
        <div>
            <input type="checkbox"  name="snils" {{ if .Snils}} checked {{end}} >
            <label for="scales">CНИЛС</label>
        </div>
        <div>
            <input type="checkbox"  name="prikreptype" {{ if .PrikAuto}} checked {{end}}>
            <label for="scales">Тип прикрепления </label>
        </div>
        <div>
            <input type="checkbox"  name="prikrepdate" {{ if .PrikDate}} checked {{end}}>
            <label for="scales">Дата прикрепления</label>
        </div>

        <input type="submit" value="Сформировать">
    </form>
<!--     </details> -->
<table align="center" border="5" width = 100%>
<tr>
    {{range .Pacients}}
    <tr>
         {{with .Surname}} <td>{{.}}</td> {{end}}
         {{with .Name}} <td>.</td>{{end}}
         {{with .Patronymic}} <td>. </td>{{end}}
         {{with .Gender}} <td> . </td>{{end}}
         {{with .Enp}} <td> .</td>{{end}}
         {{with .Birthday}} <td> . </td>{{end}}
         {{with .Snils}} <td> . </td>{{end}}
         {{with .PrikAuto}} <td> . </td>{{end}}
         {{with .PrikDate}} <td> . </td>{{end}}
         {{with .City}} <td> . </td>{{end}}
         {{with .NasPunkt}} <td> . </td>{{end}}
         {{with .Street}} <td> . </td>{{end}}
         {{with .House}} <td> . </td>{{end}}
         {{with .Korp}} <td> . </td>{{end}}
          {{with .Kvart}}<td> . </td>{{end}}

    </tr>
    {{end}}

</table>
{{end}}